
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ Search.php?shortLink=%{REQUEST_URI} [L,QSA]

#!-f не является файлов, !-d не является директорией
#Если существует файл или директория, под правило не попадает
#[L]=Last — остановить процесс преобразования на этом месте и не применять больше никаких правил преобразований.
#[QSA]=Query String Append — этот флаг указывает механизму преобразований на добавление, а не замену, 
#строки запроса из URL к существующей, в строке подстановки.